body {
    margin: 0;
    padding: 0;

}

/* #E4FBFF
#EDEEF7 */
ul {
    display: inline;
    float: right;
}

li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    /* padding: 10px; */
    font-size: 20px;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(53, 53, 53)0;
}

.title {
    color: #B8B5FF;
}

a.title {
    text-decoration: none;
    color: #7868E6;
}

nav {
    border: 1px solid #ccc;
    padding: 8px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 10;
}

nav h1 {
    color: #7868E6;
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
}

a.nav-element {
    text-decoration: none;
    color: rgb(53, 53, 53)0;
}

.home-container,
.blog-container {
    text-align: center;
    padding-top: 90px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.header-container {
    /* display: inline-block; */
    height: 400px;
    width: 100%;
}

.header {
    width: 700px;
    height: 500px;
    float: right;
}

.header-content {
    /* position: absolute; */
    text-align: left;
    padding: 50px;
    float: left;
    max-width: 800px;
}

.home-img {
    float: right;
    padding: 50px;
    width: 500px;
}



.welcome-line {
    display: inline-block;
    padding: 80px;
    font-size: 40px;
    padding-bottom: 0px;
    font-weight: larger;
    margin-bottom: 0px;
    padding-left: 0px;
}

.welcome-text {
    font-size: 20px;
    width: 700px;
    font-weight: bold;
}

.card {
    margin: 40px;
    display: inline-block;
    width: 350px;
    height: 450px;
    border: 1px solid #ccc;
    padding: auto;
    /* z-index: 9999; */
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding:20px; */
    text-align: left;
}


.card-img {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    display: block;
    width: 100%;
    background-color: #fff;
}

.recent-blog {

    display: inline-block;
    width: 100%;
    margin-top: 20px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.card-heading {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.card-para {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    /* margin:10px; */
    /* margin-top:20px; */
    margin-left: 20px;
}

.footer {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    color: #7868E6;
    height: 75px;
    border-top: 1px solid #ccc;
    top: 0;
    left: 0;
    flex: 1;
}

.footer-para {
    margin-top: 30px;
}

.blog-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 0;
}

.blog-box {
    border: 1px solid #ccc;
    width: 50%;
    margin-top: 20px;
    height: auto;
    background-color: #fff;
    text-align: left;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.blog-header-container {
    /* display: inline-block; */
    height: 100px;
    width: 100%;
}

.blog-content {
    /* position: absolute; */
    text-align: left;
    padding: 50px;
    display: block;
    width: 100%;
    padding-top: 30px;
    float: left;

}

.blog-date {
    position: absolute;
    padding-left: 10px;
    margin-left: 20px;
    color: #a1a1a1;
    padding-top: 0;
    margin-top: 0;
}

.blog-heading {
    position: relative;
    padding: 10px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: left;
    display: inline-block;
    font-weight: 900;
}

.blog-box-para {
    position: relative;
    padding: 10px;
    padding: 10px;
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;

}

.readMore {
    display: none;
}

.read-more-btn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #7868E6;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.blogs {
    position: absolute;
}

.form {
    height: auto;
    background-color: #EDEEF7;
    margin-top: 100px;
    padding: 30px;
    text-align: left ;
    width:600px;
    float:right;
}


.description-input-2,.description-input-1 {
   height: 50px;
   width:300px;
    margin:30px;
    margin-left:100px;
}

.description-input-1 
{
    margin-left:160px;
}

.description-input-2
{
    height: 100px;
}

label

{
    font-size:20px;
}
.login-btn{
    display: inline-block;
    margin: 0px;
    width:80px; 
    padding: 10px;
    background-color: #7868E6;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}